# App Store Connect API 凭证
ASC_API_KEY_ID=XXXXXXXXXX
ASC_API_KEY_ISSUER_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# p8 私钥 Base64：base64 -i AuthKey_XXXXXXXXXX.p8 | tr -d '\n'
ASC_API_KEY_CONTENT=LS0tLS1CRUdJTi...

APPLE_ID=your@email.com
TEAM_ID=X93P2VWF93
BUNDLE_ID=com.bublelele..Slidesh

# 发布证书 Base64：base64 -i Certificates.p12 | tr -d '\n'
DIST_CERTIFICATE_BASE64=MIIKxAIBAzCC...
DIST_CERTIFICATE_PASSWORD=your_p12_password

# 描述文件 Base64：base64 -i AppStore.mobileprovision | tr -d '\n'
PROVISIONING_PROFILE_BASE64=MIIM9AQYLA...

KEYCHAIN_PASSWORD=ci_temp_keychain_password
